.layout {
  margin-top: -70px;
  padding-bottom: 50px;
}
.layoutSecond {
  margin-top: -150px;
}
.bgRed {
  background-image: linear-gradient(
    156deg,
    #ff6a57 0%,
    #fdba77 100%
  ) !important;
  color: #fff !important;
}

@media only screen and (max-width: 768px) {
  .layout {
    padding: 0px 20px !important;
    margin-top: 0px;
  }
  .layoutSecond {
    margin-top: -80px;
  }
}
