.layout {
    margin-top: -70px;
    padding-bottom: 50px;
  }
  .layoutSecond {
    margin-top: -70px;
  }

  .tableMainBg {
    background-color: #fff;
    border-radius: 20px;
    padding: 35px 24px;
  }
  .SearchInput {
    width: 100%;
    background-color: #fff;
    border-radius: 100px;
    border: 1px solid #707070;
    padding: 12px 17px;
    min-width: 400px;
  }
  .filterButton {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .filterButton p {
    font-size: 17px;
  }
  .checkboxWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid #FF6A57;
    border-radius: 2px;
}
  @media only screen and (max-width: 768px) {
    .layout {
      padding: 0px 20px !important;
      margin-top: 0px;
    }
    .layoutSecond {
      margin-top: -80px;
    }
  }
  @media only screen and (max-width: 880px) {
    .tblHeader {
      flex-direction: column;
      gap: 10px;
    }
    .SearchInput {
      width: 100%;
      min-width: unset;
    }
    .SearchInputMain {
      width: 100%;
    }
  }