/* styles/Home.module.css */
.appContainer {
  /* display: flex; */
  height: calc(100vh - 71px);
  background-color: #1f2a32;
}
.map {
  height: calc(100vh - 71px);
  width: 100%;
}
.sidebar {
  background-color: #ffffff;
  color: #000;
  padding: 20px 25px;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  height: calc(100vh - 71px);
}

.header {
  padding-bottom: 12px;
  border-bottom: 1px solid #70707020;
}

.header h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px !important;
}

.header p {
  font-size: 12px;
  color: #707070;
  font-weight: 300;
}

.section {
  margin-bottom: 20px;
  margin-top: 19px;
}
.closeIcon {
  position: absolute;
  right: 11px;
  top: 11px;
}
.formGroup .form-label {
  font-size: 11px !important;
  margin-bottom: 8px;
}

.locationInput {
  border-radius: 100px;
  padding: 10px;
  background-color: #f5f5f5;
  border: unset;
}
.locationInput:focus {
  box-shadow: unset;
  background-color: #f5f5f5;
}
.searchInputCheck {
  background-color: #f5f5f5;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e2e2e2;
}
.locationList {
  padding: 15px;
  background-color: #f5f5f5;
}

.formCheck {
  margin-bottom: 10px;
}
.formCheck label {
  font-size: 14px;
  color: #707070;
  font-weight: 300;
}
.filterByTitle {
  font-size: 14px;
  margin-bottom: 10px !important;
  font-weight: 300;
}

.filterButtons {
  display: flex;
  gap: 10px;
}

.filterButton {
  width: 50%;
  padding: 11px;
  border-radius: 8px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border: 1px solid #70707030;
  color: #000;
}
.filterButton:hover {
  border-color: #707070;
  background-color: #fff;
  color: #000;
}
.filterButton:active {
  background-color: #ff5353 !important;
  color: white !important;
  border: 1px solid #ff5353 !important;
}
.filterButtonActive {
  background-color: #ff5353;
  color: white;
  border: 1px solid #ff5353;
}

.searchInput {
  margin: 15px 0;
  border-radius: 8px;
  padding: 10px;
  border: unset;
  background-color: #f5f5f5;
  border-radius: 20px;
  font-size: 11px;
}

.selectInput {
  border-radius: 8px;
  padding: 10px;
  border: unset;
  background-color: #f5f5f5;
  margin-bottom: 15px;
  font-size: 11px;
  border-radius: 20px;
}

.vehicleStatus {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mapContainer {
  position: relative;
  padding: 0;
  overflow: hidden;
}

.vehicleStatus .formCheck {
  min-width: 73px;
}

.statusOverlay {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 46px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}

.statusItem {
  display: flex;
  flex-direction: column;
  color: white;
}

.statusItem p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.statusItem span {
  font-size: 10px;
}

.viewMoreButton {
  display: flex;
  align-items: center;
  padding: 0;
  color: white;
  font-size: 10px;
  text-decoration: none;
}
.containerSide {
  background-color: #08374c;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 10px;
}

.containerSide::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 20%;
  background: inherit;
  z-index: -1;
  transform: skewY(333deg);
  transform-origin: top left;
}
.containerSide::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 15%;
  background: inherit;
  z-index: -1;
  transform: skewY(27deg);
  transform-origin: top left;
}

.iconWrapper {
  position: relative;
  margin-bottom: 20px;
  width: fit-content;
  margin: auto;
}

.alertCount {
  position: absolute;
  top: 0px;
  right: -10px;
  background-color: #ffffff;
  color: #fe6a57;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 8px;
  font-weight: 700;
}

.containerSide .label {
  color: white;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}

.status {
  display: flex;
  align-items: center;
  margin: 15px 0;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.status i {
  position: absolute;
  top: -5px;
  color: #fff;
  font-size: 13px;
}
.statusCircle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.stopped {
  background-color: #ff2e2e;
}

.idle {
  background-color: #ffc107;
}

.moving {
  background-color: #28a745;
}

.ignited {
  background-color: #17a2b8;
}
.stoppedText {
  color: #ff2e2e !important;
}

.idleText {
  color: #ffc107 !important;
}

.movingText {
  color: #28a745 !important;
}

.ignitedText {
  color: #17a2b8 !important;
}
@media (max-width: 768px) {
  .appContainer {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
  }
  .mapContainer {
    width: 100%;
    height: 400px;
  }
  .statusOverlay {
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
  }
  .statusItem {
    flex-direction: row;
    gap: 10px;
  }
  .viewMoreButton {
    align-self: flex-end;
  }
  .containerSide {
    flex-direction: row;
    gap: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    top: unset !important;
    transform: translateY(0%);
    bottom: 0px;
  }
  .containerSide::before {
    top: 9px;
    left: -29px;
    width: 19%;
    height: 80%;
    z-index: -1;
    transform: skewY(307deg) rotate(323deg);
    transform-origin: unset;
  }
  .containerSide::after {
    top: 9px;
    right: -27px !important;
    width: 19%;
    height: 80%;
    left: unset;
    z-index: -1;
    transform: skewY(217deg) rotate(323deg);
    transform-origin: unset;
  }
}
@media (max-width: 576px) {
  .statusOverlay {
    flex-direction: column;
    left: 0;
    margin: inherit;
    gap: 10px;
    padding: 10px;
    text-align: center;
  }
  .statusItem {
    flex-direction: column;
  }
  .mapContainer {
    width: 100%;
    height: 600px;
  }
}
