.HeaderMain {
  padding: 15px 0px;
  background: transparent linear-gradient(90deg, #102a34 0%, #254c58 100%) 0% 0%
    no-repeat padding-box;
  border-bottom: 1px solid #405c65;
  color: #fff;
  position: sticky !important;
  top: 0;
  z-index: 999;
}
.closeBtnSidebar {
  position: unset !important;
}
.sidebarContentHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HeaderMain a {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  font-size: 14px;
  opacity: 0.5;
}
.HeaderMain a.active {
  opacity: 1;
  position: relative;
}
.HeaderMain a.active::before {
  position: absolute;
  bottom: -27px;
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background-color: #fff;
  left: 0;
  right: 0;
  margin: auto;
}
.HeaderMain i {
  font-size: 20px;
}
.tag {
  padding: 2px 7px;
  font-size: 10px;
  font-weight: 700;
  background-color: #ffffff29;
  width: fit-content;
}
.info p {
  font-size: 12px;
  font-weight: 300;
  margin: 1px 0px 3px 0px;
}
.info h6 {
  font-size: 13px;
  font-weight: 500;
}
.UserIcon {
  height: 40px;
  width: 40px;
  background-color: #ff6c5c;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.span {
  height: 50px;
  width: 1px;
  background-color: #ffffff;
  opacity: 0.3;
}

.heroMain {
  padding: 50px 0px 86px 0px;
  background: transparent linear-gradient(90deg, #102a34 0%, #254c58 100%) 0% 0%
    no-repeat padding-box;
  color: #fff;
}

.heroMain p {
  font-size: 16px;
  font-weight: 300;
}
.heroMain h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 10px 0px !important;
}
.DoughnutChartCard {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.labelMain {
  padding: 5px 10px;
  border-left: 3px solid red;
}
.labelMain h3 {
  font-size: 30px;
  color: #4e4e4e;
  font-weight: 400;
}
.labelMain p {
  font-size: 15px;
  color: #333333;
  font-weight: 400;
}
.DoughnutChartCard h1 {
  font-size: 40px;
  font-weight: 700;
  color: #4e4e4e;
}
.DoughnutChartCard p {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
}
.RedCard {
  background: transparent linear-gradient(132deg, #ff6a57 0%, #fdba77 100%) 0%
    0% no-repeat padding-box;
  border-radius: 20px;
  padding: 28px;
  color: #fff;
  width: 100%;
}
.RedCard div,
.WhiteCard div,
.blueCard div {
  cursor: pointer;
}
.RedCard h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px !important;
}
.WhiteCard h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px !important;
}
.blueCard h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px !important;
}
.RedCard h4 span {
  font-size: 18px;
  font-weight: 400;
}
.RedCard p {
  font-size: 14px;
  font-weight: 300;
}
.WhiteCard p {
  font-size: 14px;
  font-weight: 300;
}
.blueCard p {
  font-size: 14px;
  font-weight: 300;
}
.WhiteCard {
  background-color: #fff;
  color: #000000;
  border-radius: 20px;
  padding: 28px;
  width: 100%;
}
.blueCard {
  background-color: #aaebff;
  color: #000000;
  border-radius: 20px;
  padding: 28px;
  width: 100%;
}
.publicInquires {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 16px;
}
.publicInquires h3 {
  font-size: 22px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 15px !important;
}
.publicInquires a {
  font-size: 14px;
  font-weight: 400;
  color: #272727;
  text-decoration: none;
}
.publicInquiresCard {
  background-color: #f5f5f5;
  padding: 18px;
  border-radius: 10px;
}
.publicInquiresCard span {
  font-size: 10px;
  font-weight: 700;
  color: #747474;
}
.publicInquiresCard h6 {
  font-size: 18px;
  font-weight: 400;
  color: #ff6a57;
}
.publicInquiresCard p {
  font-size: 14px;
  font-weight: 400;
  color: #747474;
}
.publicInquiresCardBottom {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.publicInquiresCardBottom span {
  font-size: 10px;
  font-weight: 400;
  color: #272727;
}
.publicInquiresCardBottom h6 {
  font-size: 12px;
  font-weight: 700;
  color: #272727;
}

.InvitationsReceivedCard {
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #fff;
  width: 100%;
}
.roundTag {
  height: 24px;
  width: 24px;
  background-color: #efeaea;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roundTag i {
  font-size: 10px;
}
.InvitationsReceivedCard h1 {
  font-size: 42px;
  font-weight: 400;
  color: #272727;
}
.InvitationsReceivedCard p {
  font-size: 14px;
  font-weight: 400;
  color: #272727;
}
.RfqCardMain h1 {
  font-size: 22px;
  font-weight: 500;
  color: #272727;
  margin-bottom: 11px !important;
}
.RfqCardMain h6 {
  font-size: 16px;
  font-weight: 400;
  color: #292929;
}
.RfqCardMain span {
  font-size: 12px;
  font-weight: 400;
  color: #292929;
}
.RfqCardMain {
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #fff;
  width: 100%;
}
.StepsFollowMain {
  padding: 30px;
  background-color: #f7f7f7;
  box-shadow: 0px 3px 99px #00000012;
  border-radius: 20px;
}
.StepsFollowImg {
  height: auto;
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;
}
.StepsFollowMain p {
  font-size: 18px;
  font-weight: 400;
  color: #292929;
}
.StepsFollowMain a {
  font-size: 18px;
  font-weight: 400;
  color: #292929;
}
.StepsFollowMain b {
  font-size: 23px;
  font-weight: 700;
  color: #292929;
}
.stepCount {
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.StepsFollowStep {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.StepsFollowStep h6 {
  font-size: 14px;
  font-weight: 700;
}
.StepsFollowStep p {
  font-size: 11px;
  font-weight: 300;
}
.StepsFollowStep::before {
  content: "";
  height: 98%;
  position: absolute;
  top: 0;
  left: 22px;
  border: 1px dashed #b3b3b3;
}
.StepsFollowStepAR {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.StepsFollowStepAR h6 {
  font-size: 14px;
  font-weight: 700;
}
.StepsFollowStepAR p {
  font-size: 11px;
  font-weight: 300;
}
.StepsFollowStepAR::before {
  content: "";
  height: 98%;
  position: absolute;
  top: 0;
  right: 22px;
  border: 1px dashed #b3b3b3;
}
.AddCardMain {
  width: 100%;
  min-height: 160px;
  background-color: #fff;
  border-radius: 20px;
  padding: 12px 16px 16px 24px;
  color: #272727;
  position: relative;
}

.AddCardMain h1 {
  font-size: 42px;
}
.AddCardMain p {
  font-size: 14px;
  max-width: 100px;
}
.AddCardMain i {
  position: absolute;
  bottom: 16px;
  font-size: 30px;
}
.ordersCardMain {
  width: 100%;
  min-height: 160px;
  background-color: #fff;
  border-radius: 20px;
  padding: 18px 23px 26px 23px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.CircularProgressbarMAin {
  height: 116px;
  width: 116px;
  position: relative;
}

.CircularProgressbarMAin span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  text-align: center;
  font-size: 14px;
}
.CircularProgressbarText span {
  font-size: 14px;
  color: #272727;
}
.CircularProgressbarText h4 {
  font-size: 32px;
  color: #272727;
}
.CircularProgressbarText {
  width: calc(100% - 136px);
}
.RfqChartCardMAin {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 24px;
}
.RfqChartCardMAin h1 {
  font-size: 22px;
}
.RfqChartChart {
  height: 50%;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
.NotificationMAin {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.Notification {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  background-color: #e3dad0;
  box-shadow: 0px 3px 49px #0000000d;
}
.Notification p {
  max-width: 120px;
  font-size: 12px;
  font-weight: 500;
}
.fleetsCardMain {
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
}
.fleetsCardMain h1 {
  font-size: 32px;
  font-weight: 500;
}
.fleetsCardMain h1 span {
  font-size: 16px;
  font-weight: 300;
}
.fleetsCardMain h6 {
  font-size: 10px;
  font-weight: 500;
}
.fleetsCardMainB {
  padding-bottom: 7px;
  border-bottom: 1px solid #70707020;
  margin-bottom: 15px;
}
.fleetsCardMain h3 {
  font-size: 14px;
  color: #10aa75;
  font-weight: 500;
}
.fleetsCardMain h5 {
  font-size: 11px;
  font-weight: 500;
}
.fleetsCardMain p {
  font-size: 11px;
  font-weight: 300;
}
.ContractsMain h1 {
  font-size: 22px;
  font-weight: 500;
}
.ContractsMain a {
  font-size: 15px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
}
.DriverMain h1 {
  font-size: 22px;
  font-weight: 500;
}
.DriverMain a {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
.ContractsMain {
  width: 100%;
}
.ContractsCardMain {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 370px;
  overflow: auto;
  margin-top: 20px;
}
.ContractsCardMain::-webkit-scrollbar {
  display: none;
}
.ContractsCard {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
}
.ContractsCardVertical {
  display: flex;
}
.ContractsCardTextVertical {
  min-width: 290px;
}
.ContractsCard h1 {
  font-size: 15px;
  font-weight: 500;
}
.ContractsCard p {
  font-size: 12px;
  font-weight: 300;
  margin-top: 5px !important;
}
.ContractsCard span {
  font-size: 11px;
  font-weight: 300;
  opacity: 0.6;
}
.DriverMain {
  width: 100%;
}
.DriverCard {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
}
.DriverCard h2 {
  font-size: 15px;
  font-weight: 500;
}
.DriverCard p {
  font-size: 12px;
  font-weight: 300;
}
.DriverCard h4 {
  font-size: 12px;
  font-weight: 400;
}
.DriverCard span {
  font-size: 10px;
  font-weight: 400;
}
.DriverCard i {
  color: #ffca39;
}
.CardImg {
  height: 34px;
  width: 34px;
  border-radius: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
}
.CardImg img {
  object-fit: cover;
}
.cardHeader {
  padding-bottom: 11px;
  margin-bottom: 11px;
  border-bottom: 1px solid #70707010;
}
.TrackShippments {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}
.TrackShippmentsHead {
  padding: 24px 30px;
}
.TrackShippmentsHead h1 {
  font-size: 18px;
  font-weight: 700;
}
.SearchInput {
  width: 100%;
  background-color: #fff;
  border-radius: 100px;
  border: 1px solid #707070;
  padding: 12px 17px;
}
.map {
  filter: grayscale(5);
}
.chartContainer {
  position: relative;
  height: 40px;
  width: 425px;
}
.bubbleChartContainer {
  position: relative;
  width: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chartWrapper {
  position: relative;
  height: 200px;
}
.chartWrapper2 {
  position: relative;
}

.legend {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.legend div {
  display: flex;
  flex-direction: column;
}
.legend2 {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.completed {
  color: #0088cc;
}

.inTransit {
  color: #4b0082;
}

.pending {
  color: #ffa500;
}

.failed {
  color: #ff6347;
}
.responsiveMenuIcon {
  display: none;
}
.HeaderMain {
  background-color: #333; /* Adjust as needed */
  padding: 10px 0;
  position: relative;
}

.links {
  display: flex;
}

.info h6,
.info p {
  margin: 0;
}

.responsiveMenuIcon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background: transparent linear-gradient(90deg, #102a34 0%, #254c58 100%) 0% 0%
    no-repeat padding-box;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  z-index: 99;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.sidebarContent a {
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 10px;
  border-bottom: 1px solid #fff;
}
.sidebar.open {
  width: 300px;
}
.sidebarContent {
  gap: 0px !important;
}
.sidebarContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.closeBtn {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 36px;
  cursor: pointer;
  color: #fff;
}
.heroPaddingSecond {
  padding-bottom: 100px;
}
.sidebarMain {
  box-shadow: 0px 3px 99px #93bee829;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin-top: -200px;
}
.sideHeader {
  background-color: #eef7fc;
  padding: 14px 22px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sideHeader p {
  font-size: 13px;
  font-weight: 500;
  color: #272727;
}
.sideHeader span {
  font-size: 12px;
  font-weight: 300;
  color: #272727;
}
.ImgIcon {
  height: 35px;
  width: 35px;
  background-color: #383838;
  border-radius: 100px;
  overflow: hidden;
}
.ImgIcon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sidebarBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 22px 25px;
}
.sidebarBody a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #272727;
}
.subLink div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.subLinkMain {
  margin-left: 20px;
  margin-top: 10px;
}
.subLinkMain a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: #272727;
}

.card2 {
  background: white;
  border-radius: 20px;
  padding: 28px 27px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.changeDepartment {
  font-size: 12px;
  color: #5284d3;
  cursor: pointer;
}
.card2 h3 {
  margin-bottom: 16px;
  font-size: 16px;
  color: #333;
}
.departmentNameText {
  font-size: 14px;
}
.lastLogin {
  font-size: 12px;
  opacity: 0.4;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
}

.list li {
  margin-bottom: 8px;
  color: #272727;
  font-size: 13px;
  margin-top: 13px;
  font-weight: 300;
}

.viewAll {
  display: inline-block;
  margin-top: 10px;
  color: #272727;
  text-decoration: none;
}
.chart {
  width: 150px;
}
.ConsignmentCard {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 14px 25px;
  background-color: #1e6272;
  border-radius: 20px;
  color: #fff;
  justify-content: space-between;
}
.ConsignmentCard p {
  max-width: 200px;
  font-size: 15px;
  font-weight: 400;
}
.ConsignmentCard i {
  font-size: 30px;
  cursor: pointer;
}
.DriversAll {
  background-color: #fff;
  border-radius: 20px;
  padding: 27px 23px;
  height: 100%;
}
.DriversAll h3,
.DriversAll a {
  font-size: 16px;
  font-weight: 700;
  color: #272727;
  text-decoration: none;
}
.allDriverCard {
  max-height: 350px;
  overflow: auto;
}
.allDriverCard::-webkit-scrollbar {
  display: none;
}
.driverCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #70707030;
}
.driverCard:last-child {
  border-bottom: unset;
}
.driverCard p {
  font-size: 15px;
  font-weight: 500;
  color: #272727;
}
.driverCard span {
  font-size: 12px;
  font-weight: 300;
  color: #272727;
}
.driverImg img {
  border-radius: 100px;
}
.driverImg {
  position: relative;
}
.driverImg span {
  height: 12px;
  width: 12px;
  border-radius: 100px;
  background-color: #4fbe69;
  position: absolute;
  right: 0;
  bottom: 0;
}
.rightIcon {
  height: 24px;
  width: 24px;
  background-color: #efeaea;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.HubCardMain {
  padding: 9px 24px;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
.HubCardMain i {
  font-size: 20px;
}
.HubCardMain h1 {
  font-size: 24px;
  font-weight: 400;
}
.HubCardMain p {
  font-size: 14px;
  font-weight: 300;
}
.sidebarResponsiveIcon {
  position: absolute;
  top: 40px;
  right: 3rem;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.card {
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  padding: 13px;
  background-color: #fff;
}
.avatar {
  height: 50px;
  width: 50px;
  background-color: #f8fde9;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.departmentName {
  display: flex;
  align-items: center;
  font-size: 17px;
}

.departmentName span {
  margin-left: 8px;
}
.departmentsCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.noMembers {
  font-size: 15px;
}
.addMembers {
  color: #fe6a57;
  cursor: pointer;
  font-size: 12px;
}
.departmentsCardFooter {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
}
.userIcon {
  display: flex;
  align-items: center;
}
.userIcon img {
  border-radius: 100px;
  object-fit: cover;
}
.userIcon div {
  height: 40px;
  width: 40px;
  border: 1px solid #c1c1c1;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5d84cd;
  background-color: #fff;
  margin-left: -10px;
}
.infoTabs {
  margin-top: 4.5rem;
}

.title {
  cursor: pointer;
  color: #fff; /* Assuming $color-white is #fff */
  opacity: 0.7;
  white-space: nowrap;
}

.active {
  opacity: 1;
}

.activeTabBorder {
  width: auto;
  height: 7px;
  background: #fefeff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

.translateMinus {
  transform: translate(-50%);
}

.translatePlus {
  transform: translate(50%);
}

.checkedImgMain {
  top: -33px;
  right: 50%;
  left: 50%;
  height: 25px;
  width: 25px;
  background: transparent linear-gradient(180deg, #e5821f 0%, #b51b56 100%) 0%
    0%;
}

.checkedImg {
  color: #fff; /* Assuming $color-white is #fff */
  font-size: 11px;
}
/* components/ProfileCard.module.css */

.cardProfile {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
}
.profile {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 33px auto;
}

.avatarProfile {
  border: 2px solid white;
  border-radius: 50%;
  height: 115px;
  width: 115px;
  object-fit: cover;
}

.status {
  background-color: #34d58c;
  border: 2px solid white;
  border-radius: 50%;
  height: 15px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 15px;
}

.infoProfile {
  margin: 0px 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.infoProfile p {
  font-size: 14px;
}

.icon {
  margin-right: 10px;
}

.age {
  font-weight: bold;
  font-size: 12px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin: 18px;
  border-top: 1px dashed #e0e0e0;
  border-bottom: 1px dashed #e0e0e0;
  padding: 13px 0px;
}

.label {
  color: #272727;
  font-weight: 700;
  font-size: 11px;
}

.value {
  font-weight: 300;
  font-size: 16px;
}

.address {
  margin: 0px 18px;
  display: flex;
  align-items: start;
  font-size: 11px;
}

.statistics {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.stat {
  font-size: 25px;
}

.statLabel {
  font-size: 12px;
  color: #272727;
}
.mainCardBg {
  padding: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainCardBg p {
  font-weight: 500;
}
.arrowMain {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ContractTypeMain {
  padding: 25px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  height: 100%;
}
.ContractTypeMain h1 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px !important;
}
.DropOff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.DropOff p {
  font-size: 12px;
  min-width: 190px;
  font-weight: 600;
}
.DropOff .progress {
  max-width: 200px;
}
.DropOffMain {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.VendorsMain h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px !important;
}
.VendorsCard {
  padding: 9px 12px;
  background-color: #fff;
  border-radius: 10px;
}
.VendorsCardMain {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-height: 380px;
  overflow: auto;
}
.VendorsCardMain::-webkit-scrollbar {
  display: none;
}
.VendorsCard {
  display: flex;
  align-items: center;
  gap: 12px;
}
.VendorsCard p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px !important;
}
.VendorsCard span {
  font-size: 12px;
}
.VendorsCard img {
  border-radius: 100px;
  object-fit: cover;
}

.contractCard {
  border-radius: 20px;
  padding: 20px 24px;
  margin: 20px auto;
  background-color: #fff;
}

.contractHeader {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 10px;
}
.contractDetails p {
  font-size: 12px;
  font-weight: 700;
}
.contractDetails h3 {
  font-size: 12px;
  font-weight: 300;
}
.contractStatus {
  padding: 3px 8px;
  background-color: #2f9637;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  margin-top: 10px;
  width: fit-content;
  margin-bottom: 20px;
}
.contractHeader p {
  font-size: 13px;
  font-weight: 300;
}
.contractHeader h4 {
  font-size: 17px;
  font-weight: 500;
}
.contractLogo {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
}

.contractInfo {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 11px 9px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.additionalInfo {
  display: flex;
  flex-direction: column;
}

.additionalInfo div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.IconText {
  display: flex;
  gap: 10px;
  font-size: 12px;
}
.contractorOutlineButton {
  padding: 9px 15px !important;
  font-size: 12px !important;
}
.contractInfoAvatar {
  height: 36px;
  width: 36px;
  background-color: #fff;
  border-radius: 100px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}
.AssignFeetCard {
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  position: sticky;
  top: 150px;
}
.BubbleLabel {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 11px;
  color: #747474;
  white-space: wrap;
  min-width: 45%;
}
.BubbleLabel h5 {
  font-size: 15px;
}
.ContractsCardBubbleLabel {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 11px;
  color: #747474;
  white-space: wrap;
  min-width: 30%;
}
.ContractsCardBubbleLabel h5 {
  font-size: 15px;
}

.chartMAin {
  padding: 20px;
}
.AssignFeetCardMap {
  filter: grayscale(10);
}
.darkBtn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  width: fit-content;
}
.whiteBgSide {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
}
.whiteBgSide h1 {
  font-size: 33px;
  font-weight: 700;
}
.whiteBgSideContent {
  margin-top: 18px;
  padding-top: 22px;
  border-top: 1px solid #70707030;
}
.truckImg {
  height: 90px;
  width: 90px;
  border-radius: 20px;
  position: relative;
  background-color: #ddd;
}
.truckImg .Brand {
  height: 32px;
  width: 32px;
  position: absolute;
  right: -10px;
  bottom: 0;
  background-color: #f5f5f5;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}
.truckDetails p {
  font-size: 18px;
  font-weight: 700;
}
.truckDetails small {
  font-size: 14px;
  font-weight: 300;
}
.VehicleBasicInformationCardHeader {
  position: relative;
}
.VehicleBasicInformationCardHeaderMain {
  padding: 10px 20px;
  color: #fff;
  background-color: #ef7562;
  font-size: 13px;
  text-align: center;
}
.VehicleImageSection {
  position: relative;
}
.VehicleImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.DriverImage {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 100px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.VehicleBasicInformationCardMain {
  background-color: #fff;
}
.VehicleBasicInformationCardBody {
  padding: 30px 15px 15px 15px;
}
.VehicleBasicInfoText h4 {
  font-size: 16px;
  font-weight: 700;
}
.VehicleBasicInfoText p {
  font-size: 14px;
  opacity: 0.7;
}
.smallTag {
  padding: 3px 10px;
  background-color: #4f9344;
  font-size: 12px;
  color: #fff;
  border-radius: 3px;
}
.DriverInformation {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.DriverInformationSub {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}
.DriverInformation img {
  position: unset !important;
}
.DriverInformation h4 {
  font-size: 14px;
  font-weight: 700;
}
.DriverInformation p {
  font-size: 12px;
}
.speedInfoMain h4 {
  font-size: 14px;
  font-weight: 700;
}
.speedInfoMain p {
  font-size: 12px;
  margin-top: 5px !important;
}
.speedInfoMain {
  margin-top: 10px;
}
.speedInfo {
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.distance p {
  font-size: 12px;
}
.distance h4 {
  font-size: 14px;
  font-weight: 700;
}
.distance {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #f2f7fe;
  border-radius: 5px;
  border: 1px solid #d0e0fc;
  margin-top: 10px;
}
.dIcon {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.TemplateCard {
  padding: 25px;
  border-radius: 20px;
  background-color: #fff;
}
.TemplateCheckBox {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background-color: #e4e4e4;
  color: #505050;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TemplateCardTitle {
  font-size: 24px;
  font-weight: bold;
  color: #383838;
  margin-bottom: 8px !important;
}

.TemplateCardSubtitle {
  font-size: 18px;
  font-weight: normal;
  color: #787878;
}

.TemplateCardContent {
  font-size: 14px;
  padding: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  margin-top: 27px;
}

.TemplateCardContent p {
  margin-bottom: 10px;
}

.TemplateCardContent ol {
  padding-left: 20px;
}

.TemplateCardContent li {
  margin-bottom: 10px;
}
.ContractsCardMainBox {
  background-color: #fff;
  border-radius: 20px;
}
.ContractsCardMainBox h1 {
  font-size: 22px;
}
.InquiriesReceivedCard {
  background-color: #fff;
  border-radius: 20px;
  padding: 25px;
  position: relative;
}
.InquiriesReceivedCardBefore {
  height: 80px;
  width: 3px;
  position: absolute;
  left: 0;
}
.InquiriesReceivedCard h3 {
  font-size: 18px;
  font-weight: 700;
}
.InquiriesReceivedCard small {
  font-size: 12px;
  color: #5c5c5c;
}
.InquiriesReceivedCardLocation p {
  font-size: 15px;
  font-weight: 500;
}
.InquiriesReceivedCardLocation {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.InquiriesReceivedCardLocation span {
  height: 10px;
  width: 1px;
  background-color: #caddff;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}
.InquiriesReceivedCardImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border: 1px solid #000;
  border-radius: 5px;
}
.InquiriesReceivedCardFooter {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #dce4ee;
}
.InquiriesReceivedCardFooter h2 {
  font-size: 16px;
  font-weight: 700;
}
.InquiriesReceivedCardFooter small {
  font-size: 12px;
}
.InquiriesReceivedCardFooter span {
  height: 50px;
  width: 1px;
  background-color: #dce4ee;
}
.InquiriesReceivedCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.InquiriesReceivedCardButton {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.InquiriesReceivedCardButton .blueOutlineButton {
  border-color: #136bb1 !important;
  color: #136bb1 !important;
}
.InquiriesReceivedCardButton button {
  width: 50%;
}
.SubmissionsCard {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 20px;
  width: 100%;
}
.SubmissionsCard p {
  font-weight: 700;
}
.SubmissionsCard i {
  font-size: 25px;
}

.invoiceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 38px;
  border-radius: 5px;
  margin-bottom: 10px;
  border-radius: 15px;
  position: relative;
  gap: 20px;
  flex-wrap: wrap;
}

.invoiceItemConfirmed {
  background-color: #f0f9f1;
}
.invoiceItemPending {
  background-color: #fff6ed;
}
.invoiceItem .icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
  cursor: pointer;
}
.invoiceItemText p {
  font-size: 18px;
  font-weight: 700;
}
.invoiceItemText span {
  font-size: 14px;
  font-weight: 500;
}
.invoiceItem::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 30px;
  background-color: #c7c7c7;
}
.BusinessProfileMain {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.BusinessProfileMain h1 {
  font-size: 24px;
  font-weight: 700;
}
.BusinessProfileMain h3 {
  font-size: 16px;
  font-weight: 700;
}
.crNumber {
  padding: 15px 0px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  font-size: 16px;
  font-weight: 500;
}
.sideDetails {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sideDetails p {
  font-size: 15px;
  font-weight: 700;
}
.sideDetails span {
  font-size: 13px;
}
.dateBox {
  display: flex;
  background-color: #fff4dd;
  border-radius: 10px;
  justify-content: space-around;
  padding: 20px;
}
.docPreview {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #e1ebf8;
  background-color: #f8fbff;
}
.DistributionMappingMain {
  padding: 11px 20px;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}
.flexboxMain {
  display: flex;
  gap: 20px;
  row-gap: 5px;
  flex-wrap: wrap;
}
.flexboxMain p {
  font-size: 16px;
}
.flexboxMain span {
  font-size: 10px;
  color: #8d8d8d;
}
.flexboxMain h4 {
  font-size: 16px;
  color: #8d8d8d;
}
.tooltipSection {
  display: flex;
  align-items: center;
  gap: 20px;
}
.tooltipSection div {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.avgSection {
  text-align: center;
  display: flex;
  gap: 20px;
  align-items: center;
}
.avgSection span {
  height: 16px;
  width: 1px;
  background-color: #707070;
}
.avgSection small {
  font-size: 10px;
  color: #8d8d8d;
  max-width: 48px;
}
.profileStepMain {
  display: flex;
  gap: 25px;
  align-items: center;
}
.profileStepMain p {
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
}
.profileStepMain small {
  font-size: 14px;
  color: #fff;
}
.profileStep {
  height: 48px;
  width: 48px;
  background-color: #fff;
  border-radius: 100%;
}
.profileFirst {
  opacity: 0.4;
}
.profileActive {
  opacity: 1;
}

.circularProgress {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(#00cc99 0% 18%, #e0e0e0 18% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circularProgress .innerCircle {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 8px solid #fff;
  text-align: center;
}

.circularProgress .innerCircle span {
  font-size: 42px;
  font-weight: bold;
}

.circularProgress .innerCircle span:last-child {
  font-size: 20px;
  font-weight: normal;
  color: #322d3e;
}
.simpleCardMain {
  padding: 20px 24px;
  background-color: #fff;
  border-radius: 20px;
}
.simpleCardMain h1 {
  font-size: 42px;
}
.simpleCardMain p {
  font-size: 14px;
}
.BidsReceivedCard {
  padding: 18px 15px 40px 15px;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
}
.BidsReceivedCard h1 {
  font-size: 22px;
  font-weight: 500;
}
.BidsReceivedCard p {
  font-size: 15px;
  font-weight: 300;
}
.bidRecCard {
  padding: 24px 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 3px 49px #0000001d;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}
.bidRecCardHeader p {
  font-size: 15px;
  font-weight: 500;
}
.bidRecCardHeader small {
  font-size: 12px;
  font-weight: 300;
}
.bidRecCardHeader span {
  font-size: 13px;
  color: #fff;
  background-color: #fda953;
  padding: 5px 10px;
  border-radius: 100px;
}
.bidRecCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.bidRecCardLocation {
  position: relative;
}
.bidRecCardLocation p {
  font-size: 14px;
  font-weight: 500;
}
.bidRecCardLocation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bidRecCardBody {
  margin-top: 10px;
}
.bidRecCardLocation span {
  height: 19px;
  border-left: 1px dashed #000;
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
}
.bidRecCardAvatar {
  text-align: end;
}
.bidRecCardAvatar p {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 6px !important;
}
.bidRecCardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bidRecCardAvatarIcon div {
  background-color: #ff6a57 !important;
  border-color: #ff6a57 !important;
  color: #fff !important;
}
.bidRecCardMain {
  position: relative;
}
.bidRecCardMain::before {
  content: "";
  height: 100%;
  width: 90%;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 3px 39px #0000000f;
  border-radius: 20px;
  z-index: 1;
  opacity: 0.7;
}
.bidRecCardMain::after {
  content: "";
  height: 100%;
  width: 80%;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 3px 39px #0000000f;
  border-radius: 20px;
  z-index: 0;
  opacity: 0.4;
}

.sideBarContractsHeader {
  padding: 22px;
  border-bottom: 1px solid #f3f3f3;
}
.sideBarContracts h1 {
  font-size: 24px;
  font-weight: 500;
}
.sideBarContracts p {
  font-size: 12px;
  font-weight: 400;
}
.sideBarContractsAvatar {
  height: 60px;
  width: 60px;
  background-color: #e6e6e6;
  border-radius: 100px;
  overflow: hidden;
}
.sideBarContractsAvatar img {
  object-fit: cover;
}
.sideBarContractsHeader {
  display: flex;
  gap: 20px;
  align-items: center;
}
.sideBarContractsDate {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 14px 22px;
}
.sideBarContractsDate span {
  padding: 2px 6px;
  background-color: #ff6a57;
  border-radius: 100px;
  color: #fff;
  font-size: 9px;
}
.sideBarContractsIntroMain {
  padding: 17px 22px;
  background-color: #d3d3d320;
}
.sideBarContractsIntro {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 20px;
}
.sideBarContractsName {
  height: 41px;
  width: 41px;
  border-radius: 100px;
  background-color: #ef7070;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.sideBarContractsIntro h2 {
  font-size: 14px;
  font-weight: 700;
}
.sideBarContractsContact {
  padding-top: 17px;
}
.sideBarContractsChat {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 17px 22px;
}
.sideBarContractsChatIconBg {
  height: 40px;
  width: 40px;
  background-color: #e9e7e7;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
}
.termsBoxMain small {
  font-size: 10px;
}
.termsBoxMain {
  padding: 0px 22px;
}
.termsBox {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 11px;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.termsBoxTag {
  height: 25px;
  width: 25px;
  background-color: #ff6a57;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: #fff;
}
.viewAllLinkMain {
  padding: 20px 22px;
}
.viewAllLinkMain p {
  font-size: 14px;
  font-weight: 700;
  color: #ff6a57;
  cursor: pointer;
  text-align: center;
}

.sideBarContracts {
  background-color: #fff;
  border-radius: 20px;
}
.spmdCardMain {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}
.spmdCardMain button {
  bottom: 20px;
  left: 20px;
}
.spmdCardTextBox {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  position: relative;
  align-items: center;
}
.spmdCardText {
  padding: 20px 30px;
}
.spmdCardTextBox p {
  font-size: 18px;
}
.spmdCardTextBox span {
  height: 10px;
  width: 10px;
  background-color: #ff6a57;
  border-radius: 100px;
}
.spmdCardTextBox::before {
  content: "";
  position: absolute;
  left: 4px;
  height: 100%;
  width: 2px;
  background-color: #70707020;
}
@media only screen and (max-width: 600px) {
  .checkImgActive {
    overflow-x: auto;
  }
}

@media (max-width: 768px) {
  .chartContainer {
    width: 300px !important;
    height: auto !important;
  }
  .sidebarResponsiveIcon {
    right: 20px;
  }
}
@media (max-width: 768px) {
  .links {
    display: none;
  }

  .responsiveMenuIcon {
    display: block;
  }
}

@media (max-width: 576px) {
  .info h6 {
    font-size: 12px;
  }

  .info p {
    font-size: 10px;
  }

  .UserIcon {
    width: 25px;
    height: 25px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 1589px) {
  .StepsFollowMain {
    position: relative;
    top: unset;
    right: unset;
  }
}
@media only screen and (max-width: 1399px) {
  .sidebarMain {
    display: none;
  }
  .sidebarResponsiveIcon {
    display: block;
  }
}
@media only screen and (max-width: 1080px) {
  .responsiveMenuIcon {
    display: block;
  }
  .info,
  .links {
    display: none !important;
  }
  .HeaderMain a.active::before{
    content: unset;
  }
}
@media only screen and (max-width: 768px) {
  .heroPadding {
    padding: 0px 20px !important;
  }
}
@media only screen and (max-width: 525px) {
  .DropOff {
    display: flex;
    justify-content: flex-start;
    align-items: unset;
    flex-direction: column;
  }
  .DropOff p {
    min-width: unset;
  }
  .DropOffMain {
    gap: 20px;
  }
  .ContractsCardTextVertical {
    max-width: unset;
  }
  .ContractsCardVertical {
    flex-direction: column;
  }
}
@media only screen and (max-width: 466px) {
  .respHeader {
    gap: 15px !important;
  }
}
